* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: "Courier New", Courier, monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 40px;
}

p {
  font-size: small;
}

.password-count {
  width: 50px;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  border: solid 0.5px #000000;
  border-radius: 2px;
  cursor: pointer;
}

.password {
  padding: 8px;
  margin: 8px;
  caret-color: transparent;
  cursor: pointer;
}

.copy-button {
  padding: 8px;
  background-color: rgb(240, 193, 150);
  border-color: azure;
  color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  margin: 2px;
}

.copy-button:hover {
  background-color: rgb(241, 119, 4);
  color: #ffffff;
}

.generate-button {
  padding: 8px;
  background-color: rgb(240, 193, 150);
  border-color: rgb(255, 255, 255);
  color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  margin: 2px;
}

.generate-button:hover {
  background-color: rgb(241, 119, 4);
  color: #ffffff;
}

.clear-button {
  padding: 8px;
  background-color: rgb(240, 193, 150);
  border-color: rgb(255, 255, 255);
  color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  margin: 2px;
}

.clear-button:hover {
  background-color: rgb(241, 119, 4);
  color: #ffffff;
}
